### Importing necessary libraries

In [7]:
import pandas as pd
import os

### Importing all the files from Sales_Data folder using os.listdir

In [8]:
files = [file for file in os.listdir('./Sales_Data')]

In [12]:
for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

Above listed files are all the csv files in Sales_Data.

### create an empty dataframe to store all the files after merging them into one single file

In [18]:
all_months_data = pd.DataFrame()

In [19]:
type(all_months_data)

pandas.core.frame.DataFrame

In [21]:
for file in files:
    df=pd.read_csv('./Sales_data/'+file)
    all_months_data=pd.concat([all_months_data , df])

In [22]:
all_months_data.sample(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
13394,308445,AAA Batteries (4-pack),1,2.99,12/19/19 16:45,"145 Church St, Seattle, WA 98101"
2553,298094,AAA Batteries (4-pack),1,2.99,12/30/19 05:58,"779 Elm St, Austin, TX 73301"
3043,239590,AAA Batteries (4-pack),1,2.99,08/15/19 19:13,"713 North St, New York City, NY 10001"
4668,252629,AA Batteries (4-pack),1,3.84,09/20/19 13:10,"222 Lakeview St, San Francisco, CA 94016"
9961,160021,iPhone,1,700,02/19/19 18:36,"722 Center St, Seattle, WA 98101"
6189,156398,Wired Headphones,1,11.99,02/22/19 10:02,"568 4th St, Los Angeles, CA 90001"
6674,182928,Lightning Charging Cable,1,14.95,04/25/19 11:41,"364 1st St, Los Angeles, CA 90001"
11484,161481,AAA Batteries (4-pack),1,2.99,02/28/19 13:17,"787 Jefferson St, Los Angeles, CA 90001"
5464,199289,Lightning Charging Cable,2,14.95,05/04/19 07:59,"425 Hickory St, New York City, NY 10001"
6478,254361,20in Monitor,1,109.99,09/21/19 18:16,"668 Main St, San Francisco, CA 94016"

Now, we can see we have sample data from different months.

Let's save this merged file as a csv file.

In [23]:
all_months_data.to_csv('all_data.csv',index=False)

Now , the merged file is saved as 'all_data.csv' in the same folder as this python file .

### Reading updated dataframe

In [24]:
all_data = pd.read_csv('all_data.csv')

In [25]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"