### Importing necessary libraries

In [1]:
import pandas as pd
import os

### Importing all the files from Sales_Data folder using os.listdir

In [2]:
files = [file for file in os.listdir('./Sales_Data')]

In [3]:
for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

Above listed files are all the csv files in Sales_Data.

### create an empty dataframe to store all the files after merging them into one single file

In [4]:
all_months_data = pd.DataFrame()

In [5]:
type(all_months_data)

pandas.core.frame.DataFrame

In [6]:
for file in files:
    df=pd.read_csv('./Sales_data/'+file)
    all_months_data=pd.concat([all_months_data , df])

In [7]:
all_months_data.sample(10)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
8531,244831,Lightning Charging Cable,1,14.95,08/10/19 17:18,"441 Lincoln St, Atlanta, GA 30301"
5882,182176,AA Batteries (4-pack),1,3.84,04/11/19 18:24,"905 Johnson St, Boston, MA 02215"
18726,313554,iPhone,1,700,12/09/19 20:13,"144 Wilson St, Los Angeles, CA 90001"
10591,220021,USB-C Charging Cable,1,11.95,06/17/19 14:32,"992 Park St, New York City, NY 10001"
9095,170696,Lightning Charging Cable,1,14.95,03/20/19 12:58,"862 Meadow St, New York City, NY 10001"
5500,215137,AA Batteries (4-pack),1,3.84,06/24/19 09:45,"109 Lincoln St, San Francisco, CA 94016"
9471,203091,Wired Headphones,1,11.99,05/14/19 14:50,"556 Forest St, San Francisco, CA 94016"
19299,314104,Lightning Charging Cable,1,14.95,12/23/19 16:54,"37 Sunset St, Boston, MA 02215"
22115,316789,AA Batteries (4-pack),1,3.84,12/20/19 18:19,"33 Forest St, Austin, TX 73301"
18636,277132,Bose SoundSport Headphones,1,99.99,10/26/19 21:59,"310 Wilson St, New York City, NY 10001"

Now, we can see we have sample data from different months.

Let's save this merged file as a csv file.

In [8]:
all_months_data.to_csv('all_data.csv',index=False)

Now , the merged file is saved as 'all_data.csv' in the same folder as this python file .

### Reading updated dataframe

In [9]:
all_data = pd.read_csv('all_data.csv')

In [10]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Cleaning data

#### Separating month from Order Date

In [16]:
all_data['Month']=all_data['Order Date'].str[0:2]

In [18]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04

We can see a new column 'Month' has been added to our dataset. There are some rows with NaN values so, let's clean up the dataset by dropping all the rows with NaN values.

In [19]:
data = all_data.dropna()

In [20]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",04
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",04
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",04
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",04

In [22]:
all_data.shape

(186850, 7)

In [23]:
data.shape

(186305, 7)

By looking at the shape of all_data and data dataframe , we can see that we have fewer number of rows in data df which we obtained by dropping rows containing NaN values.

In [25]:
all_data_nan_df = all_data[all_data.isna().any(axis=1)]
all_data_nan_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
185176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185438,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186548,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186826,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
data_nan_df = data[data.isna().any(axis=1)]
data_nan_df

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

There are no any rows containing nan values in out data df. Now we are ready for further analysis.

In [27]:
data = data['Month'].astype('int32')

ValueError: invalid literal for int() with base 10: 'Or'

In [29]:
data.loc[data['Month']== 'Or']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
...,...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

These are the rows with have Month as Or . Because of these rows , we got an error when we tried to convert Month from string to integer . Instead of actual date , the Order Date value is filled with string value 'Order Date'. This will cause problems in further analysis so, it is better to drop all the rows with no order date.

In [34]:
data = data.drop(data[data['Month']=='Or'].index)

In [38]:
data.loc[data['Month']== 'Or']

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month]
Index: []

We have dropped all the rows without Order Date.

In [39]:
data['Month'] = data['Month'].astype('int32')

Now , The Month data are all converted into integer values.

In [40]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

### What was the best month for sales? How much was earned that month?

We have to analyze the sales of each month but, we only have Quantity Ordered and price of each product . We can use these two columns to create a 'Sales' column.

In [41]:
data['Sales']=data['Quantity Ordered'] * data['Price Each']

TypeError: can't multiply sequence by non-int of type 'str'

In [44]:
type(data['Quantity Ordered'][3])

str

In [45]:
type(data['Price Each'][3])

str

The value stored in 'Quantity Ordered' and 'Price Each' are string . Because of this, we are getting an error message when we are multiplying these two to get sales data.

In [46]:
data['Quantity Ordered'] = pd.to_numeric(data['Quantity Ordered'])
data['Price Each'] = pd.to_numeric(data['Price Each'])

In [47]:
type(data['Quantity Ordered'][3])

numpy.int64

In [48]:
type(data['Price Each'][3])

numpy.float64

Since we have conveted the two columns into the required data type , we can now multiply them to generate sales column.

In [49]:
data['Sales']=data['Quantity Ordered'] * data['Price Each']

In [50]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99